MONGODB_USERNAME="your_mongodb_username"
MONGODB_PASSWORD="your_mongodb_password"
MONGODB_URL="your_mongodb_cluster_url"
MONGODB_APPNAME="your_mongodb_app_name"

MONGODB_TEST_USERNAME="your_test_mongodb_username"
MONGODB_TEST_PASSWORD="your_test_mongodb_password"
MONGODB_TEST_URL="your_test_mongodb_cluster_url"
MONGODB_TEST_APPNAME="your_test_mongodb_app_name"

LOG_FILE="path_to_log_file"