[MASTER]
disable=
    # Convention (C)
    C0301, # line-too-long
    C0413, # wrong-import-position
    C0415, # import-outside-toplevel

    # Error (E)
    E0307, # invalid-string-return
    E1101, # no-member

    # Refactor (R)
    R0205, # useless-object-inheritance
    R0801, # duplicate-code
    R0901, # too-many-ancestors
    R0902, # too-many-instance-attributes
    R0903, # too-few-public-methods
    R0904, # too-many-public-methods
    R0912, # too-many-branches
    R0913, # too-many-arguments
    R0914, # too-many-locals
    R0917, # too-many-positional-arguments
    R1710, # inconsistent-return-statements
    R1725, # super-with-arguments

    # Warning (W)
    W0106, # expression-not-assigned
    W0212, # protected-access
    W0223, # abstract-method
    W0231, # super-init-not-called
    W0401, # wildcard-import
    W0511, # fixme
    W0611, # unused-import
    W0613, # unused-argument
    W0703, # broad-except
    W0707, # raise-missing-from
    W0719, # broad-exception-raised
    W1203  # logging-fstring-interpolation

[FORMAT]
max-line-length=80

[DESIGN]
max-statements=30 

[NAMING]
class-naming-style=PascalCase
function-naming-style=snake_case
variable-naming-style=snake_case
const-naming-style=UPPER_CASE

[REPORTS]
output-format=colorized